mat-card{
    width: 600px;
    margin: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
}

mat-form-field{
    width: 480px;
}

li{
    list-style: none;
    margin: 0px;
}

.clearBtn{
    float: left;
}
.updateBtn{
    margin-right: 47px;
    float: right;
    background-color: green !important;
    color: white !important;
}

.updateBtn:disabled{
    background-color: grey !important;
}

.error-msg{
    color: red;
}