mat-card{
    background-color: rgba(34, 255, 0, 0.397);
}

.strike-through {
    font-size: large;
    font-weight: 400;
    text-decoration:line-through;
    font-style: oblique;
}

.container{
    margin-top: 20px;
    width: 600px;
}

.deleteBtn{
    float: right;
}
.editBtn{
    float: left;
}

mat-expansion-panel-header{
    margin-bottom: 0px;
}

hr{
    height: 1;
    width: 500px;
    background-color: black;
}

mat-card-header, h2{
    align-self: center;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

mat-expansion-panel{
    margin-top: 10px;
}

mat-panel-title{
    font-size: large;
}
p{
    margin-top: 0px;
}

.completed-date{
    float: inline-end;
}