<mat-card class="container">
  <button class="toggle-overdue" color="primary" (click)="showOverdueTodos()" mat-raised-button>{{ !showOverdueTasks ? 'Show Overdue Tasks' : 'Show all Tasks' }}</button>
  @if (showOverdueTasks) {
    <mat-card-content >
      <h3>Overdue Tasks</h3>
      @for (todo of overdueTasks; track todo) {
        <div>
          <app-task-item [todo]="todo" (markAsInProgress)="markAsCompleted(todo)" (deleteTask)="confirmDeletion(todo)" (editTask)="editTask(todo)"></app-task-item>
        </div>
      }
    </mat-card-content>
  }

  @if (todoTasks.length > 0 && !showOverdueTasks) {
    <mat-card-content>
      <h3>ToDo Tasks</h3>
      @for (todo of todoTasks; track todo) {
        <div>
          <app-task-item [todo]="todo" (markAsInProgress)="markTaskInProgress(todo)" (deleteTask)="confirmDeletion(todo)" (editTask)="editTask(todo)"></app-task-item>
        </div>
      }
    </mat-card-content>
  }

  @if (ongoingTasks.length > 0 && !showOverdueTasks) {
    <mat-card-content>
      <h3>Ongoing Tasks</h3>
      @for (todo of ongoingTasks; track todo) {
        <div>
          <app-task-item [todo]="todo" (markAsCompleted)="markAsCompleted(todo)" (markAsIncomplete)="markAsIncomplete(todo)" (deleteTask)="confirmDeletion(todo)"></app-task-item>
        </div>
      }
    </mat-card-content>
  }

  @if (completedTasks.length > 0 && !showOverdueTasks) {
    <mat-card-content>
      <h3>Completed Tasks</h3>
      @for (todo of completedTasks; track todo) {
        <div>
          <app-task-item [todo]="todo" (markAsIncomplete)="markAsIncomplete(todo)" (deleteTask)="confirmDeletion(todo)"></app-task-item>
        </div>
      }
    </mat-card-content>
  }
</mat-card>