.updateBtn{
    float: right;
}

.cancelBtn{
    float:left;
}

mat-card-header{
    margin-bottom: 20px;
}
mat-card-title{
    width: 500px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 10px;
}
strong{
    font-weight: 500;
}
mat-card{
    border: 2px black solid;
    padding: 10px;
}

p{
    width: fit-content;
}