<div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="{'strike-through': todo.status === 'completed'}">{{ todo.title }}</mat-panel-title>
        </mat-expansion-panel-header>
            <mat-progress-bar *ngIf="todo.status === 'ongoing'" mode="indeterminate"></mat-progress-bar>
        <p class="description" *ngIf="todo.description"><u>Description:</u> {{todo.description}}</p>
        <p class="due-date" *ngIf="todo.dueDate"><u>Due Date:</u> <strong [style.color]="todo.dueDate < today && todo.status === 'todo' ? 'red' : 'black'"> {{todo.dueDate | date:'MMMM d, y'}}</strong></p>
        <p *ngIf="todo.completedDate" class="completed-date"><u>Completed on:</u> <strong> {{todo.completedDate | date:'MMMM d, y'}}</strong> at <strong>{{todo.completedDate | date:'hh:mm a'}}</strong></p>
        <div class="actions">
            <span class="actions-text">Actions: </span>
            
            <mat-icon *ngIf="todo.status === 'todo'" matTooltip="Edit Task" class="edit-icon" (click)="editItem(todo)">edit</mat-icon>
            <mat-icon *ngIf="todo.status === 'todo'" matTooltip="Start Working" class="" (click)="workOnTask(todo)">work_outline</mat-icon>
            <mat-icon *ngIf="todo.status === 'ongoing'" matTooltip="Mark as Completed" ng-cloak data-ng-class="strikethrough" class="toggle-icon" (click)="completeTask(todo)">check</mat-icon>
            <mat-icon *ngIf="todo.status === 'completed'" matTooltip="Mark as Incomplete" ng-cloak data-ng-class="strikethrough" class="incomplete-icon" (click)="redoTask(todo)">repeat</mat-icon>
            <mat-icon matTooltip="Delete Task!" class="delete-icon" (click)="deleteItem(todo)">delete_outline</mat-icon>
        </div>
    </mat-expansion-panel>
</div>
