<div>
  <mat-expansion-panel (opened)="true">
    <mat-expansion-panel-header matTooltipShowDelay="100" matTooltip="{{todo.title}}" [matTooltipPosition]="'before'">
      <mat-panel-title [ngClass]="{'strike-through': todo.status === 'completed'}">{{ todo.title }}</mat-panel-title>
    </mat-expansion-panel-header>
    @if (todo.status === 'ongoing') {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @if (todo.description) {
      <p class="description"><u>Description:</u> {{todo.description}}</p>
    }
    @if (todo.dueDate) {
      <p class="due-date"><u>Due Date:</u> <strong [style.color]="todo.dueDate < today && todo.status !== 'completed' ? 'red' : 'black'"> {{todo.dueDate | date:'MMMM d, y'}}</strong></p>
    }
    @if (todo.completedDate) {
      <p class="completed-date"><u>Completed on:</u> <strong> {{todo.completedDate | date:'MMMM d, y'}}</strong> at <strong>{{todo.completedDate | date:'hh:mm a'}}</strong></p>
    }
    <div class="actions">
      <span class="actions-text">Actions: </span>

      @if (todo.status === 'todo') {
        <mat-icon matTooltip="Edit Task" class="edit-icon" (click)="editItem(todo)">edit</mat-icon>
      }
      @if (todo.status === 'todo') {
        <mat-icon matTooltip="Start Working" class="in-progress-icon" (click)="workOnTask(todo)">work_outline</mat-icon>
      }
      @if (todo.status === 'ongoing') {
        <mat-icon matTooltip="Mark as Completed" ng-cloak data-ng-class="strikethrough" class="toggle-icon" (click)="completeTask(todo)">check</mat-icon>
      }
      @if (todo.status !== 'todo') {
        <mat-icon matTooltip="Mark as Todo" ng-cloak data-ng-class="strikethrough" class="incomplete-icon" (click)="redoTask(todo)">repeat</mat-icon>
      }
      <mat-icon matTooltip="Delete Task!" class="delete-icon" (click)="deleteItem(todo)">delete_outline</mat-icon>
    </div>
  </mat-expansion-panel>
</div>
