/* form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */

.container{
    display: flex;
    justify-content: center;
    height: 260px;
}

mat-form-field{
    width: 100%;
}

mat-card{
    width: 600px;
    margin-top: 20px;
    background-color: rgb(199, 199, 255);
    border: 2px solid;
    border-radius: 10px;
}

.addBtn {
    float: right;
    background-color: green !important;
    color: white !important;
}

.buttons{
    margin-top: 10px;
}
