<div class="container">
    <mat-card>
        <form [formGroup]="addTaskForm" (submit)="addTask()">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Add Task</mat-label>
                <input formControlName="title" matInput placeholder="Please enter a task" maxlength="70">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Choose a Due Date (Optional)</mat-label>
                <input matInput formControlName="dueDate" [matDatepicker]="dueDate" [min]="minDate">
                <mat-hint>Format: MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dueDate"></mat-datepicker-toggle>
                <mat-datepicker #dueDate></mat-datepicker>
            </mat-form-field>
            <div class="buttons" fxLayout="row" fxLayoutAlign="center">
                <button class="addBtn" color="primary" mat-raised-button [disabled]="addTaskForm.invalid || addTaskForm.pristine" (click)="addTask()"
                    matSuffix><mat-icon>note_add</mat-icon> Add</button>
                <button class="cancelBtn" color="warn" mat-raised-button matSuffix type="reset">Clear</button>
            </div>
        </mat-card-content>
        </form>
    </mat-card>
</div>