
.container{
    display: flex;
    justify-content: center;
    height: 260px;
}

mat-form-field{
    width: 100%;
}

mat-card{
    width: 600px;
    margin-top: 20px;
    background-color: rgb(255, 230, 216);
    border: 2px solid;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 7px 7px 3px 3px rgb(49, 0, 0);
}

.addBtn {
    float: right;
    background-color: rgb(0, 157, 0) !important;
    width: 100px;
}

.addBtn:disabled {
    background-color: rgb(196, 195, 195) !important;
}
.cancelBtn {
    width: 100px;
}

.buttons{
    margin-top: 10px;
}
