
.container{
    display: flex;
    justify-content: center;
    height: 260px;
}

mat-form-field{
    width: 100%;
}

mat-card{
    width: 600px;
    margin-top: 20px;
    background-color: rgb(255, 230, 216);
    border: 2px solid;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 7px 7px 3px 3px rgb(73, 0, 0);
}

.addBtn {
    float: right;
    /* background-color: green !important; */
    width: 100px;
}
.cancelBtn {
    /* background-color: green !important; */
    width: 100px;
}

.buttons{
    margin-top: 10px;
}
