.toast {
    position: fixed;
    /* position: absolute; ask ashok */
    top: 75px;
    right: 0px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 30px;
    color: #fff;
    font-size: 16px;
    z-index: 1000;
    max-width: 50ch;
    animation: moveUp 5s ease-in linear;
    word-wrap: break-word;
    vertical-align: middle;
}

@keyframes moveUp {
    0% {
        top: 120px;
        opacity: 50%;
    }
    
    100% {
        top: 75px;
        opacity: 100%;
    }
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #F44336;
}

.info {
    background-color: #135388;
}